body {
  background-color: #575B61;
  font-family: Courier New;
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 55px;
  color: #202326;
}

p {
  font-weight: 550;
  font-size: 30px;
  color: #202326;
}
